<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empreendedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container mt-5">
        <h2>Editar Empreendedor</h2>
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }} <!-- Exibe o formulário -->
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'lista_empreendedores' %}" class="btn btn-secondary">Cancelar</a>
        </form>
        
</body>

</html>